.login {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

    .login__container {
        width: 440px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 50px rgb(0 0 0 / 10%);
    }
}